<h2>Weather here</h2>

<p>
  <label for="city">City: </label>
  <input [(ngModel)]="city" type="text" name="city" id="city" />
  <button (click)="getWeather()">New Request</button>
</p>

<img
  *ngIf="icon"
  src="http://openweathermap.org/img/wn/{{ icon }}@4x.png"
  alt=""
/>

<div *ngIf="main">
  <p>
    {{ description }} avec une température de {{ main.temp }}°C pour un ressenti
    de {{ main.feelsLike }}°C.
  </p>
</div>

<button routerLink="/cityForm">Ajouter une ville à la base de données</button>

<div>
<button type="button" (click)="getCities(); showResultsCity = true;">Voir l'ensemble des villes en base de donnée</button>
<div *ngIf="showResultsCity">
<a *ngFor="let ville of villes" >
  <div>
    <h3>{{ ville.city }}</h3>
    <p>Pays : {{ ville.iso2 }}</p>
    <p>coordonnées : {{ ville.lat }};{{ville.lng}}</p>
    <a routerLink="/detail/{{ ville.city }}">
      <span class="badge">Ensemble des relevés de température pour {{ ville.city }} </span> 
    </a>
  </div>
</a>
</div>